@font-face {
    font-family: 'georgia';
    src:url('georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'georgiab';
    src:url('georgiab.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'georgiab';
    src:url('georgiai.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'georgiab';
    src:url('georgiaz.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}